@use "typography" as *;
@use "colors" as *;

:root {

    /**
    @font-family declaration
    */
    @each $ff,
    $shades in $font-family {

        @each $shade,
        $value in $shades {
            --bd-#{$ff}-#{$shade}: #{$value};
        }
    }

    /**
    @color declaration
    */
    @each $color,
    $shades in $colors {

        @each $shade,
        $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }
}